Menu="Buttons:100"
Link="nav-user"
---
<?
$plugin="preclear.disk";
require_once("plugins/${plugin}/assets/lib.php");
$Preclear = new Preclear;
;?>
<? if (file_exists("/plugins/${plugin}/assets/style-${display['theme']}.css")): ?>
<link rel="stylesheet" type="text/css" href="/plugins/<?=$plugin;?>/assets/style-<?=$display['theme'];?>.css">
<? endif;?>
<?=$Preclear->html();?>
<script type="text/javascript">

  <?=$Preclear->Script();?>

  if (typeof swal2 === "undefined")
  {
    $('head').append( $('<link rel="stylesheet" type="text/css" />').attr('href', '<?autov("/plugins/${plugin}/assets/sweetalert2.css");?>') );
    $.getScript( '/plugins/<?=$plugin;?>/assets/sweetalert2.js');
  }

  $(function()
    {
      footer = $("<span id='preclear-footer'></span>").insertAfter("div#footer > span#copyright").css("float","right").css("margin-right", "6px");
      getPreclearContent();
      if ( $('#usb_devices_list').length )
      {
        $('#usb_devices_list').bind("change", function(e)
        {
          clearTimeout(timers.getPreclearContent);
          timers.getPreclearContent = setTimeout('getPreclearContent()', 100);
        });
        $('#usb_devices_list').trigger("change");
      }
    }
  );
  <?if (is_file($unsupported)):?>
  <? $unraid_version = @parse_ini_file("/etc/unraid-version")["version"];
     $plugin_version = trim(@file_get_contents("/var/state/preclear.disk/version"));
  ?>
  if (typeof addBannerWarning === "function" ) {
    addBannerWarning('<b>Preclear Plugin (<?=$plugin_version;?>):</b> unsupported Unraid version (<?=$unraid_version;?>). Please upgrade your OS/plugin or request proper support at the <a href="https://forums.unraid.net/topic/54648-preclear-plugin/" target="_blank">forum support thread</a>.', true, false);
  }
  <?endif;?>
</script>

<!-- Status installer -->
<?
$is_installed = is_file(glob("/boot/config/plugins/statistics.sender/statistics.sender*.txz")[0]);
$dismissed = [ "/boot/config/plugins/statistics.sender/dismissed", "/tmp/.statistics_dismissed" ];

$is_dismissed = array_reduce($dismissed, function ($result, $item) { return $result || is_file($item); }, false);
$plugin_file  = "https://raw.githubusercontent.com/gfjardim/unRAID-plugins/master/plugins/statistics.sender.plg";
if (! $is_installed && ! $is_dismissed):
?>
<script type="text/javascript">
  var original_plugin = "Extended Preclear Disks<br>";
  swal(
  {
    title: original_plugin + "Install Statistics Plugin",
    text: "This plugin is used to send statistics anonymously using Google Forms. <br>Don't worry, you will be asked before sending every report.",
    type: "info",
    confirmButtonText: "Install",
    allowOutsideClick: false,
    showCancelButton: true,
    cancelButtonText: "Dismiss",
    closeOnConfirm: true,
    showLoaderOnConfirm: false,
    html: true
  },
  function(isConfirm)
  {
    if(isConfirm)
    {
      openBox('/plugins/dynamix.plugin.manager/scripts/plugin&arg1=install&arg2=<?=$plugin_file;?>','Install Plugin',600,900,true);
    }
    else
    {
      <?php foreach ($dismissed as $file): ?>
        $.post("/update.php",{"#file":"<?=$file;?>"});
      <?php endforeach ?>
    }
  });
</script>
<?endif;?>